@model FactoryPunchList.Models.SigninUserModel

@{
    ViewBag.Title = "Register";
}

<div>
    <br/>
    <div>
        <a href="https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=secret&redirect_uri=https%3A%2F%2Ffactorypunchlist.azurewebsites.net%2FAccount%2FOAuth&scope=data:read">
            <button class="button button-blue button-bordered">
                <span class="button--inner">Signin With BIM</span>
            </button>
        </a>
    </div>
    <br/>
</div>